<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
        }
        th, td {
    padding: 15px;
        }

    </style>
</head>
<body>
    <h1>Hello from the ROLLBOOK APP</h1>
    <p>The performance for the student:{{student}}</p>
    <p>From the group:{{group}} <br />
        With the professor:{{teacher}}
    </p>
    <p>Current Performance: {{performance}}</p>
    <table style="border: solid">
        <thead>
            <tr style="border: solid">
                <td>Test Name</td>
                <td>Grade</td>
            </tr>
        </thead>
        <tbody>
            {% for i in grades %}
                <tr>
                    <td>{{i.test}}</td>
                    <td>{{i.grade}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <h3>Comments:</h3>
    <p>
        {{comments}}
    </p>
</body>
</html>